.section_header{

	background: radial-gradient(at center bottom, #508152, #416a42) center;
}
.header_hat{
	padding: 44px 0 100px 0;
}
.header_logo{
	float: left;

}
.header_logo_content{
	color: #ffffff;
	font-family: 'Conv_Myriad-Pro';
	font-size: 37px;
	font-weight: 700;

}


.header_menu{
	float: right;
	
	
}
.header_logo_img{
	width: auto;
}
.header_menu_link{
	/* margin: 0 4px 0 4px; */
	color: #ffffff;
	font-family: 'Conv_Myriad-Pro-Semibold';
	font-size: 21px;
	font-weight: 400;
	line-height: 44.93px;
	padding: 11px 19px;
	
}
.header_menu_link:hover{
	border: 3px solid #ffffff;
	
}
.header_content{
	text-align: center;
	padding:0px 0 106px 0;
}
.header_content_title{
	color: #ffffff;
font-family: 'Conv_Myriad-Pro';
font-size: 48px;
font-weight: 400;
line-height: 102.24px;
/* Text style for "S, weet an" */
letter-spacing: -0.36px;
}
.heder_content_watermelon{
	width: 25.7%;
}